kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4


featureGates:
  PodCertificateRequest: true
runtimeConfig:
  "certificates.k8s.io/v1beta1/podcertificaterequests": "true"

networking:
  apiServerAddress: "0.0.0.0"
  disableDefaultCNI: true
  podSubnet: "10.244.0.0/16"
  serviceSubnet: "10.96.0.0/12"
  apiServerPort: 5510

nodes:
- role: control-plane
  kubeadmConfigPatches:
  - |
    kind: ClusterConfiguration
    apiServer:
      certSANs:
        - "$IP_ADDR" # IP of host machine in LAN
        - "0.0.0.0" # Allow access from all interfaces
  extraPortMappings:
    - containerPort: 80
      hostPort: 80
      protocol: TCP
    - containerPort: 443
      hostPort: 443
      protocol: TCP
  labels:
    ingress-ready: "true"
- role: worker
  labels:
    tools: true
  kubeadmConfigPatches:
  - |
    kind: JoinConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        register-with-taints: "tools=true:NoSchedule"
- role: worker
  labels:
    apps: true
  kubeadmConfigPatches:
  - |
    kind: JoinConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        register-with-taints: "apps=true:NoSchedule"
- role: worker
  
